body{
    text-align: center;
    background-color: rgb(213, 253, 253);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
#kiseki{
    font-size: 70px;
    background-color: white;
    border-radius: 8px;
    height: 100px;
}
button{
    border-radius: 7px;
    background-color: blue;
    color: white;
    height: 60px;
    font-size: 20px;
    margin: 10px;
    width: 200px;
}